# ignore excutable files
*.exe
*.dll
*.bin
*.pdb
*.cache
*.dgspec.json
*.AssemblyReference.cache
*.CoreCompileInputs.cache
*.assets.cache
*.nuget.dgspec.json
*.pack.sentinel
*.dtbcache.v2
*.futdcache.v1
*.suO
project.assets.json
project.nuget.cache

# ignore bulding files
/build/
/dist/
/out/
bin/
obj/
Debug/
vs/
.vs/
*.user 
*.suo

# Visual Studio
.vs/
*.suo
*.user
*.config.user
*.aps
*.ncb
*.opendb
*.opensdf
*.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
Build/
bld/
Bld/
*.obj
*.lib
*.exp
*.exe
*.dll
*.pdb
*.ilk
*.idb
*.tlb
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
*.build.log
*.tdl
*.bak
*.cache
*.ncb
*.user
*.aps
*.bsc
*.sbr
_UpgradeReport_Files/
.coregen
CompiledShaders/

# NuGet packages
packages/
*.nupkg
project.lock.json

# Rider
.idea/

# DotNet tool files
.config/dotnet-tools.json


